@use "../../styles/variables.scss" as *;

.add-entry-form {
  width: 100%;
  position: relative;

  &__button {
    position: absolute;
    right: 1rem;
    top: 5px;
    background-color: transparent;
    border: none;
  }

  &__button-icon {
    width: 70px;
    height: 70px;

    &:hover {
      cursor: pointer;
      fill: black;
    }
  }
}

.chatbox {
  padding-top: 2rem;
  background-color: white;
  max-width: 70%;
  min-width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;

  &__conversation {
    max-height: 70%;
    overflow: auto;
  }
}
