@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.user-chat-bubble {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__message {
    @include lined-background;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    font-family: "Indie Flower", cursive;
    font-size: 2rem;
    color: $primary-text;
    margin: 10px 0;
    max-width: 80%;
  }

  &__name {
    font-size: 1.5rem;
    font-weight: bold;
    color: $secondary-text;
  }
}
