@use "../../styles/variables.scss" as *;

.journal-entry {
  width: 100%;

  &__field {
    background-color: $paper;
    background-image: linear-gradient(
      to bottom,
      transparent 97%,
      #dcd9c6 97%,
      #dcd9c6 100%
    );

    background-size: 100% 1.5rem;
    padding: 26px 20px 10px;
    border-radius: $border-radius;
    border: 1px solid #ddd;
    font-family: "Indie Flower", cursive;
    font-size: 16px;
    color: #4a4a4a;
    line-height: 1.5rem;
    width: 100%;
    resize: vertical;
    height: 4.5rem;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px #a8d1ff;
    }
  }
}
