@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.journal-entry {
  width: 100%;

  &__field {
    @include lined-background;
    border-radius: $border-radius;
    font-family: "Indie Flower", cursive;
    font-size: 2rem;
    color: $secondary-text;
    width: 100%;
    resize: none;
    height: 11rem;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px #a8d1ff;
    }
  }
}
