@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.sidebar {
  width: 100%;
  background-color: white;
  overflow: auto;
  @include tablet {
    min-width: 20%;
    max-width: 20%;
  }
  position: relative;

  &__closeX {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  &__hamburger {
    position: absolute;
    left: 2rem;
    top: 1rem;
  }

  &__dates {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin: 2rem;
  }

  &__date-link {
    font-size: 1.5rem;
    color: $secondary-text;
    border-radius: $border-radius;
    text-decoration: none;
    padding: 1rem;

    &.active {
      background-color: $secondary-background;
    }
  }
}
